.responsive-layout-wide.pane-search-result .ding-format-long .view-mode-teaser {
  position: relative;
}

.responsive-layout-wide.pane-search-result .ding-format-long .view-mode-teaser .title {
  position: absolute;
  top: 0;
  left: 10px;
}

.responsive-layout-wide.pane-search-result .ding-format-long .view-mode-teaser .field-type-ting-cover,
.responsive-layout-wide.pane-search-result .ding-format-long .view-mode-teaser .group-content {
  margin-top: 35px;
}
